/* reset and common */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-weight: 100;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}

body {
  background: black;
  color: white;
  font-size: 2.5rem;
  font-family: "Roboto", Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* texts */
h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

.center {
  text-align: center;
}

/* grid */
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

/* animations */
.fadeInDown {
  opacity: 0;
  animation: fadeInDown 1s ease-out 0.5s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
